{% extends "header.html" %}

{% block content %}
<h1 style="
color: red;
text-align: center;
margin-top: 30vh;
font-family: 'Oswald', sans-serif !important;
font-size: 100px;">ОШИБКА 404</h1>
<h4 style="
text-align: center;
font-family: 'Oswald', sans-serif !important;
font-size: 40px;">Ой, такой странички не существует :(</h4>
{% endblock %}
{% block header %}
    {{ super() }}
    {% if not user.is_authenticated %}
    <a class="btn btn-secondary ms-auto" type="button" style="margin-right: 10px; font-family: 'Oswald', sans-serif !important; font-size: 20px;" href="/register">Зарегистрироваться</a>
    {% endif %}
{% endblock %}