{% extends "header.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/new_client.css') }}">
{% endblock %}
{% block content %}
<br>
<br>
{% if not message %}
{% else %}
<h5 align="center" style="color: red">Ошибка. {{ message }}.</h5>
{% endif %}
<br>
<div class="register-text">
    <h1> {{ title|upper }} </h1>
</div>
<br>
<form class="login_form" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <div class="reg-input">
                {{ form.surname.label(class="input-group-text") }}
                {{ form.surname(class='form-control') }}
            </div>
        </div>
        <div class="col">
            <div class="reg-input">
                {{ form.name.label(class="input-group-text") }}
                {{ form.name(class='form-control') }}
            </div>
        </div>
        <div class="col">
            <div class="reg-input">
                {{ form.patronymic.label(class="input-group-text") }}
                {{ form.patronymic(class='form-control') }}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="reg-input">
                {{ form.birth_date.label(class="input-group-text") }}
                {{ form.birth_date(class='form-control', type="date") }}
            </div>
        </div>
        <div class="col">
            <div class="reg-input">
                {{ form.address.label(class="input-group-text") }}
                {{ form.address(class='form-control') }}
            </div>
        </div>
    </div>
    <br>
    <div class="reg-input">
        {{ form.submit(class="btn btn-dark") }}
    </div>
    <br>
</form>
{% endblock %}
