{% extends "base.html" %}

{% block content %}
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/log_out">{{ current_user.name }}</a>
        <a class="btn btn-primary" href="/add_client">Добавить клиента</a>
    </nav>
</header>
<h1>Клиенты</h1>
{% for client in clients %}
<div class="col-md6 border rounded">
    <h2>
        {{client.surname}} {{client.name}} {{client.patronymic}}
    </h2>
    <div>
        Дата добавления: {{client.created_date}}<br>
        Дата рождения: {{client.birth_date}}<br>
        Адрес клиента: {{client.address}}
    </div>
    <br>
    <div>
        <a class="btn btn-danger" href="/remove_client/{{ client.id }}">Удалить</a>
        <a class="btn btn-primary" href="/edit_client/{{ client.id }}">Изменить</a>
        <select>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
        </select>
        <a class="btn btn-primary" href="/">+</a>
    </div>
</div>
<br>
<br>
{% endfor %}
{% endblock %}