{% extends "header.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clients.css') }}">
{% endblock %}
{% block content %}
<h1 style="
text-align: center;
font-family: 'Oswald', sans-serif !important;
font-size: 50px;
margin-top: 10px">Клиенты</h1>
{% for client in clients %}
<div class="client-info">
    <br>
    <h2 style="text-align: center; margin-top: 10px; font-family: 'Oswald', sans-serif !important;">
        {{ client.surname }} {{ client.name }} {{ client.patronymic }}
    </h2>
    <br>
        <div><p class="text">Дата добавления</p> {{ client.created_date.strftime('%Y-%m-%d %H:%M') }} <a style='float: right; margin-right: 20px; width: 160px' class="btn btn-danger" href="/remove_client/{{ client.id }}">Удалить клиента</a></div>
        <div><p class="text">Дата рождения</p> {{ client.birth_date.strftime('%Y-%m-%d') }} <a class="btn btn-primary" style='float: right; margin-right: 20px; width: 160px' href="/edit_client/{{ client.id }}">Редактировать</a></div>
        <div><p class="text">Адрес клиента</p> {{ client.address }} <a class="btn btn-primary" style='float: right; margin-right: 20px; width: 160px' href="/show_address/{{ client.id }}">Показать на карте</a></div>
    <br>
</div>
<br>
<br>
{% endfor %}
{% endblock %}
