{% extends "header.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/new_document.css') }}">
{% endblock %}
{% block content %}
<br>
<br>
<div class="register-text">
    <h1>СОЗДАНИЕ ДОКУМЕНТА</h1>
</div>
<br>
<form method="post">
    <div style="
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;">
        <p class="text">Выберите клиента:</p>
        <select class="selecting" name="client_id">
            {% if clients.count() != 0 %}
            {% for client in clients %}
            <option value="{{ client.id }}">{{ client.surname }} {{ client.name }} {{ client.patronymic }}</option>
            {% endfor %}
            {% else %}
            <option value="Nothing">Клиентов нет</option>
            {% endif %}
        </select>
    </div>
    <br>
    <h4 class="select-text">ТИП ДОКУМЕНТА</h4>
    <br>
    <div>
    {% for document in documents %}
    <label>
        <input type="radio" name="document_id" value="{{ document[0] }}" {% if loop.first %} checked {% endif %}>
        <img src="{{ url_for('static',filename='img/document.png') }}" alt="Option 1">
        <span class="radio-text">{{ document[1] }}</span>
    </label>
    {% endfor %}
    </div>
    <button class="btn btn-success" type="submit">Скачать документ</button>
    <a class="btn btn-danger" href="/clients">Назад</a>
    <br>
    <br>
</form>
<h3>{{ message }}</h3>
{% endblock %}