{% extends "header.html" %}

{% block content %}
<br>
<br>
<h5 align="center">Для входа на сайт требуется аккаунт. Войдите или зарегистрируйтесь.</h5>
<br>
<div class="register-text">
    <h1>РЕГИСТРАЦИЯ</h1>
</div>
<br>
<form class="login_form" method="post">
    {{ form.hidden_tag() }}
    <div class="reg-input">
        <span class="input-group-text">ВВЕДИТЕ ИМЯ ПОЛЬЗОВАТЕЛЯ</span>
        <br>
        <input type="text" class="form-control" id="name">
    </div>
    <br>
    <div class="reg-input">
        <span class="input-group-text">ВВЕДИТЕ ПОЧТУ</span>
        <br>
        <input type="email" class="form-control" id="email">
    <br>
    </div>
    <div class="reg-input">
        <span class="input-group-text">ВВЕДИТЕ ПАРОЛЬ</span>
        <br>
        <input type="password" class="form-control" id="password">
    </div>
    <br>
    <div class="reg-input">
        <span class="input-group-text">ПОВТОРИТЕ ПАРОЛЬ</span>
        <br>
        <input type="password" class="form-control" id="password_again">
    <br>
    <button type="submit" class="btn btn-dark">{{ form.submit.label }}</button>
    </div>
    <br>
    <div>
        {{message}}
    </div>
</form>
{% endblock %}