{% extends "header.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/register.css') }}">
{% endblock %}
{% block content %}
<br>
<br>
{% if not message %}
<h5 align="center">Для входа на сайт требуется аккаунт. Войдите или зарегистрируйтесь.</h5>
{% else %}
<h5 align="center" style="color: red">Ошибка. {{ message }}.</h5>
{% endif %}
<br>
<div class="register-text">
    <h1>РЕГИСТРАЦИЯ</h1>
</div>
<br>
<form class="login_form" method="post">
    {{ form.hidden_tag() }}
    <div class="reg-input">
        {{ form.name.label(class="input-group-text") }}
        <br>
        {{ form.name(class='form-control') }}
    </div>
    <br>
    <div class="reg-input">
        {{ form.email.label(class="input-group-text") }}
        <br>
        {{ form.email(class='form-control') }}
    <br>
    </div>
    <div class="reg-input">
        {{ form.password.label(class="input-group-text") }}
        <br>
        {{ form.password(class='form-control') }}
    </div>
    <br>
    <div class="reg-input">
        {{ form.password_again.label(class="input-group-text") }}
        <br>
        {{ form.password_again(class='form-control') }}
    <br>
    {{ form.submit(class="btn btn-dark") }}
    </div>
    <br>
    <br>
</form>
{% endblock %}
{% block header %}
    {{ super() }}
    <a class="btn btn-secondary ms-auto" type="button" style="margin-right: 10px; font-family: 'Oswald', sans-serif !important; font-size: 20px;" href="/sign_in">Войти</a>
{% endblock %}