{% extends "header.html" %}

{% block content %}
<br>
<br>
<div class="register-text">
    <h4 align="center">Для просмотра сначала зарегистрируйтесь или войдите</h4>
    <h1 align="center">Регистрация</h1>
</div>
<br>
<form class="login_form" method="post">
    {{ form.hidden_tag() }}
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="username">{{ form.name.label }}</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="email">{{ form.email.label }}</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="password">{{ form.password.label }}</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="password_again">{{ form.password_again.label }}</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <button type="submit" class="btn btn-dark">{{ form.submit.label }}</button>
    <div>
        {{message}}
    </div>
</form>
{% endblock %}